%h1
  Posts controller, index action
%p
  Edit this file in
  %tt
    app/views/posts/index.html.erb
%table
  %tr
  - for post in @posts
    %tr
      %td
        = link_to 'Show', url(:post, post)
      %td
        = link_to 'Edit', url(:edit_post,  post)

= link_to 'New', url(:new_post)